In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import statistics 


#Load in csv

ride_data_df = pd.read_csv("Resources/PyBer_ride_data.csv")
ride_data_df

    Month  Avg. Fare ($USD)
0     Jan             10.02
1     Feb             23.24
2     Mar             39.20
3   April             35.42
4     May             32.34
5    June             27.04
6    July             43.82
7     Aug             10.56
8    Sept             11.85
9     Oct             27.90
10    Nov             20.71
11    Dec             20.09

In [ ]:
# setting ticks location 
x_axis = np.arange(len(ride_data_df))
tick_location = [value for value in x_axis]

# plot data
ride_data_df.plot(x="Month", y="Avg. Fare ($USD)")
plt.xticks(tick_location, ride_data_df["Month"])
plt.show()

In [ ]:


# Same data but plot in bar graph 
ride_data_df.plot(x="Month", y="Avg. Fare ($USD)", kind='bar', color="blue")
plt.show()

#spacing ticks
ride_data_df.arange(0, 50, step=5.0)



# #standard deviation of y values 
# stdev = statistics.stdev(y)
# stdev
# #adding error bars
# plt.bar(x, y, yerr=stdev, capsize=3)
# plt.show()